*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 99vw;
    height: 10vh;
    background-color: #1A1A1A;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    width: 28%;
    justify-content: space-around;
    display: flex;
    list-style: none;
}
nav ul li{
    width: 99px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
nav ul li a{
    color: gray;
}
ul li a{
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 18px;
}
nav ul li:hover{
    background-color: black;
    border: 1px solid gray;
}
nav ul li a:hover{
    color: white
    ;
}
.knopki{
    color: white;
    width: 10%;
    height: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.knopka{
    cursor: pointer;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background: none;
    color: black;
    background-color: #FFD11A;
    width: 137px;
    height: 55px;
}


.first{
    width: 99vw;
    height: 78vh;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}
.contfirst{
    display: flex;
    justify-content: space-evenly;
}
.ffirst{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
}
.ffffirst{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ffirst h2{
    color: gray;
    font-size: 30px;
}
.ffirst h1{
    color: white;
    font-size: 70px;
}
.ffirst p{
    color: gray;
    font-size: 20px;
}
.fffirst{
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 165px;
}
.firstsize{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.firstsize h1{
    font-size: 45px;
    color: white;
}
.firstsize p{
    color: gray;
    font-size: 20px;
}
.yellowplus{
    color: #FFD11A;
}
.fffffirst{
    display: flex;
    align-items: end;
    height: 22vh;
}
.first-image-container{
  position: relative;
  display: inline-block;
}
.Layer{
  display: block;
  width: 100%;
}
.SubContainer{
  position: absolute;
  top: 40vh;
  right: 22vw;
  width: 29%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}
.avatars{
  width: 100%;
  height: auto;
}
.content-title{
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  width: 30vh;
}
.content-text {
  color: #98989a;
  font-size: 19px;
  width: 52vh;
}
.content-btn {
  display: inline-flex;
  align-items: center;
  padding: 15px 35px;
  background-color: #141414;
  border: 1px solid #262626;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}
.content-btn:hover {
  background-color: #1c1c1c;
}
.arrow {
  color: #FFD11A;
}



.second-section{
    width: 99vw;
    height: 20vh;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}
.second{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 20px;
}
.secondcont{
    color: white;
    width: 13vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.secondcont img{
    height: 23%;
    width: 18%;
}
.secondcont p{
    color: gray;
}
.Second-But{
    display: flex;
    justify-content: center;
    height: 4vh;
}
.Second-Butt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17vh;
}



.third-section{
    width: 99vw;
    height: 25vh;
    background-color: #1A1A1A;
    background-repeat: no-repeat;
    background-size: cover;
}
.tthird{
    display: flex;
    justify-content: center;
}
.third{
    width: 86vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.third button{
    width: 9vw;
    height: 3vh;
    cursor: pointer;
    font-size: 17px;
    border: none;
    border-radius: 3px;
    background: none;
    color: white;
    background-color: gray;
}
.third h1{
    color: white;
    font-size: 60px;
}